/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,ç
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Nunito&family=Poppins&family=Work+Sans&family=Roboto&display=swap');

body {
	/* background-color: #e0e0e0; */
	background-color: var(--main-bg-color);
	font-family: 'Roboto', sans-serif;
	min-width: 450px;
	color: white;
}

:root {
  --material-red: #f44336;
	--main-bg-color: #090909;
}

/* Header  */

#header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
	height: 4rem;
	/* background-color: rgba(30, 13, 30, 0.08); */
	background-color: #212121;
	padding: 0 1.5rem;
	color: white;
	font-size: 20px;
	position: relative;
}

#header span {
	color: #f44336;
}

#nav {
  display: flex;
}

#nav a, #nav div {
  margin: 0 0.4rem;
	text-decoration: none;
	/* color: black; */
	color: white;
	font-size: 14px;
	cursor: pointer;
}

#nav a:hover {
	text-decoration: underline;
	opacity: 0.8;
}


#mobile-menu {
	display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EFFFFA;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
	transform: translateX(-100%)

}

#mobile-menu div,
#mobile-menu a {
	font-size: 2rem;
	text-transform: uppercase;
	padding: 2rem 0;
	font-weight: bold;
	letter-spacing: 0.5rem;
	color: #000;
	text-decoration: none;
	transition: color 0.3s linear;
}

#mobile-menu div:hover,
#mobile-menu a:hover {
	color: #343078;
}

.burger {
	/* position: absolute; */
  top: 5%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger:focus {
	outline: none;
	background: transparent;
}

.burger div {
	width: 2rem;
	height: 0.25rem;
	background: #EFFFFA;
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;

}


/* Dungeon Menu */



.dungeon-menu {
	flex-direction: column;
	position: absolute;
	width: 100%;
	background: #383838;
	display: flex;
	padding: 0 1rem;
	z-index: 1050;
}


.dungeon-menu div {
	/* background-color: #aa2e25; */
	border: none;
	padding: 0.5rem 0.75rem;
	color: white;
	cursor: pointer;
	opacity: 1;
	width: 20%;
	font-size: 13px;
}

.dungeon-menu div:hover {
	opacity: 0.7;
	color: var(--material-red)
}


/* Affixes */

.affix-display {
	padding-top: 3rem;
}

.affix-display h1 {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 0.4rem;
	color: white;
}

.affix-display h4 {
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	color: darkgrey;
}

#affixes {
	/* width: 80%; */
	display: flex;
	justify-content: center;
}

#affixes ul {
	display: flex;
}

#affixes ul li {
	flex: 2;
	margin: 0.75rem;
}

.affix-card {
	display: flex;
	flex-direction: column;
	place-items: center;
	/* border: 1px solid black; */
	padding: 1rem 0.5rem;
}

.affix-card a {
	margin-bottom: 0.5rem;
	text-decoration: none;
	/* color:#aa2e25; */
	color: #26C6DA;
}

.affix-card img {
  border-radius: 50%;
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.774);
}

.affix-card img:hover {
  opacity: 0.8;
}

.affix-container {
	position: relative;
}

.affix-description {
	font-style: italic;
	font-size: 14px;
	font-weight: lighter;
	display: none;
	position: absolute;
}

.affix-container:hover .affix-description {
	display: block;
	background-color: #fff;
	border-radius: 5%;
	position: absolute;
	width: 150px;
	padding: 1rem;
	right: 0;
}

.affix-container:hover .Tyrannical,
.affix-container:hover .Fortified {
	left: 0;
}

.affix-title {
	font-size: 16px;
	/* font-weight: bold; */
}

.tippyZ {
	font-family: 'Roboto', sans-serif;
}

/* Dungeon */

.wallpaper-container {
	position: relative;
	text-align: center;
	color: white;
	z-index: -1;
	background-color: #131313;
}

.dungeon-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 46px;
	font-family: 'Work Sans', sans-serif;
}

.dungeon-title h4 {
	font-size: 20px;
	color: darkgrey;
}

.dungeon-wallpaper {
	width: 100%;
	height: auto;
	opacity: 90%;
	filter: brightness(80%)
}

.dungeon-info {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.dungeon-info div {
	display: flex;
	flex-direction: column;
	margin: 0.2rem 0;
}

.dungeon-info h1 {
	font-size: 14px;
	color: var(--material-red)
}

.dungeon-info {
	font-size: 13px;
}

.covenant-bonus p,
.lust-timing > ul > li {
	margin-left: 1rem;
}

/* .lust-timing {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	align-items: center;
}

.lust-timing ul {
	list-style: none;
} */

/* MDT */

.hidden {
  display: none;
}

/* Resources */

.section {
	line-height: 1.3rem;
}

.section-header {
	text-align: center;
	padding: 2rem;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #090909;
	color: white;
}

.section-header p {
	margin-top: 1rem;
	text-align: center;
	font-size: 13px;
	width: 70%;
}

.resources {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
}

.resources h2 {
	font-size: 25px;
	text-align: center;
	margin-bottom: 1rem;
}

.first {
	background-color: #131313;
	color: white;
}

.second {
	background-color: #090909;
	color: white;
}

.card {
	margin: 0.2rem;
}

.card a {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #d7373d;
}

.card a:hover {

	color: var(--material-red);
}

.card p {
	font-size: 13px;
}

#requirements {
	font-style: italic;
	color: darkgrey;
}

/* Media queries */

@media (min-width: 675px) {
	#mobile-menu { display: none }
	.burger { display: none }
}


@media only screen and (max-width: 675px) {
	.dungeon-title h4 { display: none }
	.dungeon-title h1 { font-size: 26px }
	#header #nav { display: none }
	#burger-menu { display: block }
	#mobile-menu { width: 60%; z-index: 1050; }
	.burger {z-index: 1050;}
}

