/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Nunito&family=Poppins&family=Work+Sans&display=swap');

/* Header  */

#header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
	border-bottom: 1px solid darkgrey;
	height: 4rem;
	background-color: rgba(30, 13, 30, 0.08);
	padding: 0 1.5rem;
}

#header nav {
  display: flex;
}

#header nav a, #header nav div {
  margin: 0 0.4rem;
}

/* Dungeon Menu */

#dungeon-menu {
	display: none;
}

#dropdown-dungeon:hover #dungeon-menu {
	background-color: red;
	display: flex;
	flex-direction: column;
	position: absolute;

}


/* Affixes */

.affix-display {
	padding-top: 3rem;
}

.affix-display h1 {
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	margin-bottom: 0.4rem;
}

.affix-display h4 {
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
}

#affixes {
	/* width: 80%; */
	display: flex;
	justify-content: center;
}

#affixes ul {
	display: flex;
}

#affixes ul li {
	flex: 2;
	margin: 0.75rem;
}

.affix-card {
	display: flex;
	flex-direction: column;
	place-items: center;
	/* border: 1px solid black; */
	padding: 1rem 0.5rem;
	font-family: 'Noto Sans JP', sans-serif;
}

.affix-card a {
	margin-bottom: 0.5rem;
	text-decoration: none;
}

.affix-card img {
  border-radius: 50%;
	display: inline-block;
}

.affix-card img:hover {
  opacity: 0.7;
}

.affix-container:hover .affix-description {
	display: block;
	background-color: #ddd;
	border-radius: 5%;
	position: absolute;
	width: 150px;
	padding: 1rem;
}

.affix-title {
	font-size: 16px;
	/* font-weight: bold; */
}

.affix-description {
	font-style: italic;
	font-size: 14px;
	font-weight: lighter;
	display: none;
	position: absolute;
}

/* Dungeon */

#wallpaper-container {
	margin-bottom: 1rem;
	position: relative;
	text-align: center;
	color: white;
	z-index: -1;
}

#dungeon-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 46px;
	font-family: 'Work Sans', sans-serif;
}

#dungeon-wallpaper {
	width: 100%;
	height: auto;
	opacity: 90%;
	filter: brightness(50%)
}

/* MDT */

.hidden {
  display: none;
}

